<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header card-header-rose card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">perm_identity</i>
                        </div>
                        <h4 class="card-title">User List</h4>
                    </div>
                    <div class="card-body">
                        <div class="toolbar">
                            <!--        Here you can write extra buttons/actions for the toolbar              -->
                        </div>
                        <div class="material-datatables">
                            <div class="table-responsive">
                                <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                                    class="table table-striped  table-hover"
                                    cellspacing="0">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                            <th>Email</th>
                                            <th>Profile</th>
                                            <th class="disabled-sorting text-right">Actions
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr *ngFor="let row of tblData">
                                            <td>{{ row.fullName }}</td>
                                            <td>{{ row.mail }}</td>
                                            <td>{{ row.profileName }}</td>
                                            <td class="text-right">
                                                <button mat-raised-button type="button" (click)="redirectToEdit(row)"
                                                    class="btn btn-link btn-warning btn-just-icon edit-user"
                                                    title="editar"><i class="material-icons">edit</i></button>
                                                <button mat-raised-button type="button" (click)="onDelete(row)"
                                                    class="btn btn-link btn-danger btn-just-icon remove-user"
                                                    title="eliminar"><i class="material-icons">close</i></button>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>

                        <button mat-raised-button routerLink="/users/add-upd-user" type="button"
                            class="btn btn-primary" title="Add user">Add
                            Usuario</button>
                    </div>
                    <!-- end content-->
                </div>
                <!--  end card  -->
            </div>
            <!-- end col-md-12 -->
        </div>
        <!-- end row -->
    </div>
</div>