<div class="main-content">
    <div class="container-fluid">
        <div class="card">
            <div class="card-header card-header-rose card-header-icon">
                <div class="card-icon">
                    <i class="material-icons">perm_contact_calendar</i>
                </div>
                <h4 class="card-title">Realtor List</h4>
            </div>
            <div class="card-body">
                <div class="toolbar">
                    <!--        Here you can write extra buttons/actions for the toolbar              -->
                </div>

                <div class="material-datatables">
                    <div class="table-responsive">
                        <table datatable [dtTrigger]="dtTrigger" [dtOptions]="dtOptions"
                            class="table table-striped  table-hover" cellspacing="0">
                            <thead>
                                <tr>
                                    <th style="min-width: 20px;">Full Name</th>
                                    <th style="min-width: 140px;">Email</th>
                                    <th style="min-width: 50px;">Cellphone</th>
                                    <th style="min-width: 120px;">MailingAdd</th>
                                    <th style="min-width: 120px;">Notes</th>
                                    <th style="min-width: 120px;">Broker Company</th>
                                    <th style="min-width: 50px;" class="disabled-sorting text-right">
                                        Actions
                                    </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let row of tblData">
                                    <td>{{ row.name }} {{ row.lastname }}</td>
                                    <td>{{ row.email }}</td>
                                    <td>{{ row.cellphone }}</td>
                                    <td>{{ row.mailingAdd }}</td>
                                    <td>{{ row.notes }}</td>
                                    <td>{{ row.brokerCompanyName }}</td>
                                    <td class="text-right">
                                        <button mat-icon-button [matMenuTriggerFor]="menuProperties"
                                            aria-label="Properties Menu">
                                            <mat-icon>more_vert</mat-icon>
                                        </button>
                                        <mat-menu #menuProperties="matMenu">
                                            <button (click)="redirectToView(row)" mat-menu-item>
                                                <mat-icon>visibility</mat-icon>
                                                <span>View</span>
                                            </button>
                                            <button (click)="redirectToEdit(row)" mat-menu-item>
                                                <mat-icon>edit</mat-icon>
                                                <span>Edit</span>
                                            </button>
                                            <button mat-menu-item (click)="onDelete(row)">
                                                <mat-icon>delete</mat-icon>
                                                <span>Delete</span>
                                            </button>
                                        </mat-menu>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                <button mat-raised-button routerLink="/realtor/add-upd-realtor" type="button" class="btn btn-primary"
                    title="Add Realtor">Add
                    Realtor</button>
                <!-- <button mat-raised-button type="button" class="btn btn-success" (click)="downloadProjectReport()"
            title="Generate report">
            Generate report</button> -->
            </div>
        </div>
    </div>
</div>