<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="registerUserForm" autocomplete="off" (ngSubmit)="onRegisterSubmit()">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">{{ formTitle }}</h4>
                        </div>
                        <div class="card-body">
                            <input formControlName="id" type="hidden">
                            <mat-form-field>
                                <input matInput formControlName="fullName" placeholder="* Full name" type="input"
                                    autocomplete="off" readonly>
                            </mat-form-field>
                            
                            <mat-form-field>
                                <input id="email" matInput formControlName="email" placeholder="* Email" type="input" readonly
                                    autocomplete="nope">
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="password" placeholder="Password" type="password" 
                                    autocomplete="off">
                                <mat-error *ngIf="(registerFormControls.password.dirty || registerFormControls.password.touched) 
                                        && registerFormControls.password.errors?.required">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="confirmPassword" placeholder="Confirm Password"
                                    type="password" autocomplete="off">
                                <mat-error *ngIf="(registerFormControls.confirmPassword.dirty || registerFormControls.confirmPassword.touched) 
                                        && registerFormControls.confirmPassword.errors?.required">
                                    Confirm password is <strong>required</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="registerFormControls.confirmPassword.errors && registerFormControls.confirmPassword.errors.mustMatch">
                                    Passwords must match
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="card-footer ">
                            <button (click)="goBack()" mat-raised-button type="button" class="btn btn-fill btn-default">
                                Cancel</button>

                            <button mat-raised-button type="submit" [disabled]="!registerUserForm.valid"
                                class="btn btn-fill btn-rose">Save</button>
                        </div>

                    </div>
                </div>
            </div>
        </form>
    </div>
</div>