.widget {
    text-align: center;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    max-width: 400px;
  }
  
  .widget-icon {
    display: block; /* Para centrar el icono */
    font-size: 3rem; /* Ajusta el tamaño del icono */
    margin: 0 auto 10px; /* Centra el icono y agrega espacio debajo */
    color: #f0ad4e; /* Amarillo */
  }
  
  .widget-title {
    font-size: 1.5rem;
    margin-top: 22px;
    color: rgb(35, 30, 121);
  }
  
  .widget-message {
    margin-bottom: 20px;
  }


  
  