<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-warning card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">content_copy</i>
                        </div>
                        <p class="card-category">Number of letters</p>
                        <h3 class="card-title">{{ widget.productsGreater }}
                            <small>letters</small>
                        </h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons text-danger">warning</i>
                            <a href="javascript:void(0)">{{ widget.productsLess }} letters</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-success card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">store</i>
                        </div>
                        <p class="card-category">
                            Operation
                        </p>
                        <h3 class="card-title">{{ widget.quotationNumber }} - 
                            <small>{{ widget.quotationAmount | currency:'CLP':'symbol':'1.0-0' }}</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">date_range</i>Current month..
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-danger card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">info_outline</i>
                        </div>
                        <p class="card-category">Clientes</p>
                        <h3 class="card-title">{{ widget.orderNoteNumber }} 
                            - <small>{{ widget.orderNoteAmount | currency:'CLP':'symbol':'1.0-0' }}</small></h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">local_offer</i> Current month..
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="card card-stats">
                    <div class="card-header card-header-info card-header-icon">
                        <div class="card-icon">
                            <i class="material-icons">public</i>
                        </div>
                        <p class="card-category">Realtors</p>
                        <h3 class="card-title">{{ widget.billOfBuyNumber }}</h3>
                    </div>
                    <div class="card-footer">
                        <div class="stats">
                            <i class="material-icons">update</i>Current month..
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        
    </div>
</div>