<div class="main-content">
    <div class="container-fluid">
        <form [formGroup]="registerUserForm" (ngSubmit)="onRegisterSubmit()">
            <div class="row">
                <div class="col-md-12 col-lg-6">
                    <div class="card ">
                        <div class="card-header card-header-rose card-header-icon">
                            <div class="card-icon">
                                <i class="material-icons">perm_identity</i>
                            </div>
                            <h4 class="card-title">{{ formTitle }}</h4>
                        </div>
                        <div class="card-body">
                            <mat-form-field>
                                <input matInput formControlName="names" placeholder="First Name" type="input">
                                <mat-error *ngIf="(registerFormControls.names.dirty || registerFormControls.names.touched) 
                                && registerFormControls.names.errors?.required">
                                    First name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="middleName" placeholder="Middle Name" type="input">
                                <mat-error *ngIf="(registerFormControls.middleName.dirty || registerFormControls.middleName.touched) 
                                && registerFormControls.middleName.errors?.required">
                                    Middle name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="lastName" placeholder="Last Name" type="input">
                                <mat-error *ngIf="(registerFormControls.lastName.dirty || registerFormControls.lastName.touched) 
                                && registerFormControls.lastName.errors?.required">
                                    Last name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="rut" placeholder="Id" type="input" >
                                <mat-error *ngIf="(registerFormControls.rut.dirty || registerFormControls.rut.touched) 
                                && registerFormControls.rut.errors?.required">
                                    Rut is <strong>required</strong>
                                </mat-error>
                                <mat-error *ngIf="(registerFormControls.rut.dirty || registerFormControls.rut.touched) 
                                && registerFormControls.rut.errors?.validRut">
                                    Rut must be <strong>valid</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="mail" placeholder="Email" type="mail">
                                <mat-error *ngIf="(registerFormControls.mail.dirty || registerFormControls.mail.touched) 
                                && registerFormControls.mail.errors?.required">
                                    Email is <strong>required</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="(registerFormControls.mail.dirty || registerFormControls.mail.touched) && registerFormControls.mail.errors?.mail">
                                    Please enter a valid email
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="businessPosition" placeholder="Business Position" type="input">
                                <mat-error *ngIf="(registerFormControls.businessPosition.dirty || registerFormControls.businessPosition.touched) 
                                && registerFormControls.businessPosition.errors?.required">
                                    Business position is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <mat-select placeholder="User Role" formControlName="profileId" name="profileId">
                                    <mat-option *ngFor="let role of profiles" [value]="role.id">
                                        {{ role.name }}
                                    </mat-option>
                                </mat-select>
                                <mat-error *ngIf="(registerFormControls.profileId.dirty || registerFormControls.profileId.touched) 
                                && registerFormControls.profileId.errors?.required">
                                    User role is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="password" placeholder="Password" type="password">
                                <mat-error *ngIf="(registerFormControls.password.dirty || registerFormControls.password.touched) 
                                && registerFormControls.password.errors?.required">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>
                            <mat-form-field>
                                <input matInput formControlName="confirmPassword" placeholder="Confirm Password"
                                    type="password">
                                <mat-error *ngIf="(registerFormControls.confirmPassword.dirty || registerFormControls.confirmPassword.touched) 
                                && registerFormControls.confirmPassword.errors?.required">
                                    Confirm password is <strong>required</strong>
                                </mat-error>
                                <mat-error
                                    *ngIf="registerFormControls.confirmPassword.errors && registerFormControls.confirmPassword.errors.mustMatch">
                                    Passwords must match
                                </mat-error>
                            </mat-form-field>
                        </div>
                        <div class="card-footer ">
                            <button (click)="goBack()" mat-raised-button type="button" class="btn btn-fill btn-default">
                                Cancel</button>

                            <button mat-raised-button type="submit" [disabled]="!registerUserForm.valid"
                                class="btn btn-fill btn-rose">Save</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>
